.features {
    margin: 30px 0px;
}

.features ul {
    list-style: none;
}

.features__container {
    max-width: 819px;
    margin: 0 auto;
    padding: 0px 15px;
}

.features__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.features__content-topic-main {
    display: flex;
    flex-direction: column;
}

.features__content-topic-title {
    margin: 15px 0px;
}


.features__content-topic-main-media {
    max-width: 100%;
    margin-top: 30px;
}


.features__content-topic-main-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.features__content-topic-main-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 285px;
    margin: 30px 0px;
}

.features__content-topic-main-list-item-image {
    max-width: 61px;
}

.features__content-topic-main-list-item-title {
    font-size: var(--font-size-subtitle-secondary);
    font-weight: bold;
    margin: 15px 0px;
}

.features__content-topic-main-list-item-subtitle {
    font-size: var(--font-size-subtitle-secondary);
    line-height: 25px;
}


@media (min-width: 820px) {
    .features__container {
        max-width: 1210px;
    }
    .features__content-topic-main {
        flex-direction: column-reverse;
    }
    .features__content-topic-main-list {
        flex-direction: row;
        justify-content: space-around;
    }
    .features__content-topic-main-list-item-title{
        max-width: 200px;
    }
}